* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
  
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: Cairo, sans-serif;
  background-image: radial-gradient(ellipse at bottom, #5091DD 0%, #030617 100%);
  background-size: cover;
  background-attachment: fixed;
}

header {
  margin-top: 8px;
  text-align: center;
  font-family: Bungee Shade, sans-serif;
  font-size: 2.8em;
  color: white;
}

#inputSection {
  width: max-content;
  margin: auto;
  margin-top: 18px;
}

#board-size {
  width: 126px;
  height: 24px;
  margin-left: 12px;
  border: 1px solid black;
  font-family: Cairo, sans-serif;
}

#board-size::placeholder {
  font-size: 11px;
  text-transform: uppercase;
}

#board-size , #generate-board {
  text-align: center;
  padding: 4px 8px;
}

#color-palette {
  margin: auto;
  text-align: center;
}

#title {
  text-align: center;
  display: block;
  font-weight: 700;
  color: white;
}

.color {
  display: inline-block;
  margin: 8px;
  width: 40px;
  height: 40px;
  border: solid 1px black;
  border-radius: 50%;
  cursor: pointer;
}

.color:hover {
  transform: scale(1.25);
  transition-duration: 0.3s;
}

.selected {
  transform: scale(1.25);
}

#btnContainer {
  text-align: center;
}

#button-random-color , #clear-board {
  text-align: center;
  margin: 2px 8px;
  padding: 4px 8px;
}

button {
  font-family: Cairo, sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  box-shadow: -1px 1px 0px 0px, -2px 2px 0px 0px, -3px 3px 0px 0px, -4px 4px 0px 0px, -5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  right: 5px;
}

@media (min-width: 768px) {
  button {
    padding: 0.25em 0.75em;
  }
}

#pixel-board {
  margin: auto;
  width: max-content;
  margin-top: 24px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.pixel-board-lines {
  width: max-content;
  line-height: 0;
  border: none;
  text-align: center;
}

.pixel {
  display: inline-block;
  line-height: 0;
  text-align: center;
  height: 40px;
  width: 40px;
  border: 1px solid black;
  cursor: crosshair;
  margin: -1px;
}

footer {
  margin-top: auto;
  bottom: 0;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 2px;
  text-align: center;
  font-size: 0.8em;
  }